body {
  background-color: #0e7e12;
  display: flex;
}

.contenedor {
  margin: auto;
  width: 300px;
  height: 500px;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-direction: center;
  padding: 0;
  background-color: white;
  border-radius: 22px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.palo {
  font-size: 100px;
  margin: 0;
  height: 20%;
}

.numero {
  font-size: 120px;
  text-align: center;
  margin: 65px;
}

.p-arriba {
  text-align: left;
  margin-left: 10px;
}

.p-abajo {
  text-align: left;
  margin-right: 10px;
  transform: rotate(180deg);
}

.btn {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: brown;
  color: white;
}
